.upload-con {
  min-height: 80vh;
  .user-name {
    display: flex;
    align-items: baseline;
    justify-content: center;
    .MuiFormControl-root.MuiTextField-root {
      width: 20vw;
      min-width: 0 !important;
      margin-left: 2em;
    }
  }
}
