.album {
  min-height: 80vh;
  text-align: center;
  .header {
    font-size: 3em;
  }
  &.loader {
    svg {
      margin: 3em;
    }
  }
}

.react-images__view {
  img {
    max-height: 75vh;
    max-width: 50vw;
    padding: 2em;
  }
}

.icon {
  &:hover {
    color: white;
  }
  align-items: center;
  background: 0;
  border: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  display: inline-flex;
  height: 44;
  margin-right: 0.3em;
  justify-content: center;
  outline: 0;
  padding: 0;
  position: relative;
  width: 44;
}

.like-number {
  background-color: #333333;
  border-radius: 8px;
  display: inline-block;
  font-size: 0.7em;
  font-weight: 500;
  line-height: 1;
  margin-right: -12px;
  margin-top: 8px;
  padding: 1px 4px;
  position: relative;
}

.like-logo {
  display: inline-block;
  fill: currentcolor;
  height: 24px;
  stroke: currentcolor;
  stroke-width: 0;
  width: 24px;
  &.active {
    color: red;
    transition: color 0.9s ease;
  }
}
.icons-con {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-like-con {
  display: inline-block;
  align-items: center;
  justify-content: center;
  .img-con {
    cursor: pointer;
    // min-width: 27vw;
    // min-height: 30vh;
  }
  .icon {
    display: flex;
    align-self: center;
    color: #333333;
    .like-logo {
      height: 2.5em;
      width: 2.7em;
    }
    .like-number {
      background-color: white;
      border-radius: 18px;
      display: inline-block;
      font-size: 1.3em;
    }
  }
}

@media (max-width: 600px) {
  .react-images__view {
    img {
      max-height: 100vh !important;
      max-width: 100vw !important;
      padding: 2em;
    }
  }

  .img-con {
    // min-width: 22vw !important;
    // min-height: 150px !important;
  }
}

.album {
  margin: 0;
  padding: 0;
}

.imgbox {
  width: 80vw;
  height: 80vh;
}
.center-fit {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
