.about-con {
  text-align: center;
  min-height: 82vh;
  a {
    font-size: 2.5em;
    margin: 0;
    color: inherit;
    cursor: pointer;
  }
  .about-text {
    font-size: 2.5em;
    a {
      font-size: inherit;
      color: inherit;
      cursor: pointer;
    }
  }
  .about-img {
    max-width: 90vw;
    max-height: 60vh;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .about-con {
    .about-text {
      font-size: 1.5em;
    }
    a {
      font-size: 1.5em;
    }
  }
}
