.contact-us {
  margin: auto;
  height: 86vh;
  text-align: center;
  width: fit-content;
  textarea {
    min-height: 100px;
  }
  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
    }
    img {
      height: 45px;
      width: 45px;
      margin-right: 2em;
    }
  }
}

.MuiFormControl-root {
  min-width: 34vw !important;
  margin-bottom: 1em !important;
}

.MuiButton-containedPrimary {
  margin-top: 1em !important;
}

@media only screen and (max-width: 600px) {
  .MuiFormControl-root {
    min-width: 60vw !important;
  }
}
