.multimedia-strip {
  position: sticky;
  bottom: 0;
  background-color: #c2c1c1;
  img.contact-icon {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 6vh;
    color: rgb(255, 255, 255);
  }
  .icons-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .talk-to-us {
    right: 50vw;
    position: absolute;
  }
}
body {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .talk-to-us {
    right: 41% !important;
    font-size: 0.89em;
    margin-right: 0.3em;
  }
}
