.gallery {
  justify-content: center;
  height: 80vh;
  display: flex;
  &.loader {
    align-items: center;
  }
  a {
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }

  .album-link {
    margin: 5vw;
    align-content: center;
    text-align: center;
    p {
      font-size: 1.5em;
    }
    img {
      border-radius: 10%;
      height: 50vh;
      width: 30vw;
    }
  }
}

@media (max-width: 600px) {
  .album-link {
    margin: 5vw;
    img {
      height: 30vh !important;
      width: 40vw !important;
    }
  }
}
