.nav-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    line-height: 100%;
  }
  .logo-con {
    height: 5em;
    .logo {
      width: 90px;
      height: 75px;
      position: absolute;
      right: 0;
    }
  }
}

.home-con {
  min-height: 85vh;
  img {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .nav-con {
    .logo {
      width: 90px;
      height: 75px;
      position: relative;
    }
  }
}

@font-face {
  font-family: gveretLevin;
  src: url(../../../public//fonts/GveretLevinAlefAlefAlef-Regular.otf);
}
@font-face {
  font-family: YamSuf;
  src: url(../../../public//fonts/YamSuf.otf);
}

body {
  font-family: gveretLevin;
}
