.slick-slider.slides.slick-initialized {
  border: 3px solid red;
  button.slick-arrow {
    background: black;
  }
  .slick-list {
    max-height: 35em;
    img {
      max-height: 35em;
    }
  }
}

.slides {
  position: relative;
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
  }
  .slick-prev {
    left: 0%;
    z-index: 9;
    :hover {
      opacity: 1;
      background: violet;
    }
  }
  .slick-next {
    right: 0%;
    z-index: 9;
  }
}

.carousel-con {
  height: 60vh;
}
.react-images__view-wrapper {
  img {
    width: 100%;
    height: 100%;
  }
}
